#exclude RETFOUND_MAE
RETFOUND_MAE/
1000images/
ODIR-5k/
RETFOUND_dataset/
RFMID/
RFMID2_0/
IRD_datasets.xlsx
MA_Thesis_on_Deep_Learning_for_IRD_Fundus_Imaging.pdf
RIPS/
*.onnx
*.csv
*.png
*.jpg
*.xlsx
!model_evaluations/.gitkeep
!models/.gitkeep
!dataset_plots/.gitkeep
!dataset_evaluations/.gitkeep
!clustering_evaluations/.gitkeep
!similarity_matrices/.gitkeep
*.pth
*.pt
